*{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;
    align-items: center;

}
.target:nth-of-type(1) {
	align-self: flex-start;
	align-self: stretch;
	align-self: center;
}
.target.male {
	align-self: flex-end;
}
.target:nth-of-type
.target.male
.target.female{
    align-items: baseline;
}